#app-layout{
  .panel{
    // border : 2.5px solid $primary-blue ;
    // .btn-warning{
    //     background-color: $primary-orange;
    // }

    .panel-heading{
      text-align: center;
      font-weight: bolder;
      font-size: 18px;
      //color: $primary-blue;
      text-transform: uppercase;

    }
    .panel-body{
      //padding: 15px;
      border-top: 1px solid $primary-orange;
      .tools>a{
        text-align: center;
        display: block;
      }
    }
  }
  .tools{
    margin-bottom: 15px;
    text-align: center;
  }
  >a{
    padding: 10px;
  }
}
