#app-layout{
  .panel{
    border : 2.5px solid $primary-blue ;
    a{
      margin: 5px;
      // .btn{
      //   border: none;
      //   padding: 3px 6px 3px 6px;
      // }
      .btn-warning{
        background-color: $primary-orange;
      }
    }
    .panel-heading{
      text-align: center;
      font-weight: bolder;
      font-size: 18px;
      color: $primary-blue;
      text-transform: uppercase;

    }
    .panel-body{
      //padding: 25px;
      border-top: 1px solid $primary-orange;
      .tools>a{
        text-align: center;
        display: block;
      }
    }
  }

}
