.ecole-container{
  .panel-heading{
    text-align: center;
    font-weight: bolder;
    font-size: 35px;
    text-transform: uppercase;
  }

  .nav-tabs {
    border-bottom: 1px solid $primary-orange ;
    border-radius: 12px 12px 0px 0px;
    margin-left: -1px;
    margin-top: -1px;
    background: $primary-blue;
    >li{
      background: white;
      border-radius: 12px 12px 0px 0px;
      border: 1px solid $primary-orange ;
      margin-right: 2px;
      height: 44px;
      text-transform: capitalize;

    }
    > li.active{

        //margin-left: 1px;
        margin-top: 1px;
        border: 1px solid $primary-orange;
        border-bottom: 2px solid white ;
        border-radius: 12px 12px 0px 0px;
    }
    > li.active > a{
      margin-left: 1px;
      margin-top: 1px;
      border-radius: 12px 12px 0px 0px;
      border: none;
      background: white;
      font-weight: bolder;
      font-size: 16px;
      // border-bottom: 1px solid white ;
      outline: 0;
      :focus{
        border: 0px solid transparent;
      }
      :hover{
        border: 0px solid transparent;;
      }
    }
    >li>a:hover{
      //border-bottom: 1px solid $primary-orange ;
      border-radius: 12px 12px 0px 0px;
    }

  }
  .tab-content{
    border : 1px solid $primary-orange ;
    border-radius: 0px 0px 12px 12px;
    margin-left: -1px;
    margin-top: -1px;
  }
  h1{
      font-weight: bold;
      text-transform: uppercase;
  }
}
