$navbar-default-link-color : $primary-blue;
$navbar-default-link-hover-color : $primary-orange;
$navbar-default-bg : $light-blue;
$navbar-height : 66px;

$panel-default-border : $primary-orange;
$panel-border-radius : 12px;
