$navbar-default-link-color : $primary-blue;
$navbar-default-link-hover-color : $primary-orange;
$navbar-default-bg : $light-blue;
$navbar-height : 66px;

$panel-default-border : $primary-orange;
$panel-default-heading-bg : $primary-blue;
$panel-border-radius : 12px;

$gray-base : $dark-gray;
$brand-warning : $primary-orange;
//
$brand-primary : $primary-blue ;
$brand-success : #30AF5B ;
$brand-info : $light-blue ;
$brand-danger : #EF524E ;

$btn-info-color : $primary-blue;

$state-info-bg : $light-blue;
$state-info-text : $primary-blue;
$state-info-border :$primary-blue;

$table-bg: $light-blue;
// 
// $well-bg: $primary-orange;
// $well-border : $primary-orange;
